@{
    ViewData["Title"] = "Admin - Add a Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GummiBearKingdom.Models.Product
<html>
    <body>
    <div class="container">
        <h1>Details</h1>
        <hr />
        <br />
            @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
            <br />@Html.DisplayNameFor(model => model.Cost): @Html.DisplayFor(model => model.Cost)
            <br />@Html.DisplayNameFor(model => model.Country): @Html.DisplayFor(model => model.Country)
            <p>@Html.ActionLink("Back to products list", "Index")</p>
        </div>
    </body>
</html>