@{
    ViewData["Title"] = "Admin - Add a Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GummiBearKingdom.Models.Product

<h2>Add Product/s</h2>
<br />

@using (Html.BeginForm())
{
    <fieldset>
    <legend>Product</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>

    <div class="editor-field">
        @Html.TextBoxFor(model => model.Name)
    </div>


     <div class="editor-label">
        @Html.LabelFor(model => model.Country)
     </div>

      <div class="editor-field">
        @Html.TextBoxFor(model => model.Country)
      </div>


      <div class="editor-label">
        @Html.LabelFor(model => model.Cost)
      </div>
      <div class="editor-field">
        @Html.TextBoxFor(model => model.Cost)
      </div>
        <br />
        <input type="submit" value="Create New product" />
    </fieldset>
}
