@{
    ViewData["Title"] = "Admin - Edit a Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GummiBearKingdom.Models.Product

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProductsId)
     <fieldset>
    <div class="container">
    <h1>Product</h1>
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>

    <div class="editor-field">
        @Html.TextBoxFor(model => model.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Country)
    </div>

    <div class="editor-field">
        @Html.TextBoxFor(model => model.Country)
    </div>
    
     <div class="editor-label">
        @Html.LabelFor(model => model.Cost)
     </div>

     <div class="editor-field">
        @Html.TextBoxFor(model => model.Cost)
     </div>
    <br />

         <div class="editor-button">
             <h2>Edit @Html.DisplayFor(model => model.Name)</h2>
             <button class="btn btn-primary" onclick="location.href='@Url.Action("Index")'">Delete</button>
        
        <h2><input class="btn btn-primary" type="submit" value="Save" /></h2>
          </div>
    </fieldset>
}

